/*---------------------------------------------
 * Bootstrap overrides
 --------------------------------------------*/

body {
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Crimson Text', serif;
  font-weight: normal;
}
h1 {
  font-weight: bold;
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
}
h3 {
  text-align: center;
}
.card h3 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: left;
}
#get-involved h3 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}
#get-involved .col-lg-6 {
  padding: 1rem;
}

a {
  color: #01b5a6;
}
  a:hover {
    color: #047a70;
  }

p,
input {
  font-family: 'Open Sans', sans-serif;
}
p {
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.btn {
  border-radius: 0;
  font-family: 'Crimson Text', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  max-width: 100%;
  white-space: initial;
  word-wrap: break-word;
  transition: border-color 0.3s ease,
              background-color 0.3s ease,
              color 0.3s ease;
}

.btn-primary {
  background: #01b5a6;
  border-color: #01b5a6;
}
  .btn-primary:hover {
    background: white;
    border-color: #047a70;
    color: #047a70;
  }

.btn-outline-primary {
  background: none;
  border: 1px solid #01b5a6;
  color: #01b5a6;
}
  .btn-outline-primary:hover {
    background: #01b5a6;
    border-color: white;
    color: white;
  }

.navbar-light {
  background: white;
  padding: 1.5rem 1.5rem;
}
  .navbar-brand {
    font-family: 'Crimson Text', serif;
    font-size: 1.8rem;
    line-height: 1.5;
    text-transform: uppercase;
  }

  #navbarNav {
    padding: .425rem 0;
  }
  #navbarNav li {
    display: block;
  }

.homepage-jumbotron {
  background: #503f16 url('images/nom_header_new_v2.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  padding: 8rem 0;
  text-align: center;
}
  .homepage-jumbotron p {
    color: #e8e4db;
  }

.page-section:nth-child(even) {
  background: #f2f2f2;
}
  .page-section {
    padding: 5rem 0;
  }
    .page-section.page-section-highlight {
      background: #fff5d6;
    }
    .page-section hr {
      margin: 5rem 0;
    }
    .page-section h2 {
      border-bottom: 1px solid #edeade;
      margin-bottom: 2rem;
      padding-bottom: 1.25rem;
      text-align: center;
    }
    .page-section img {
      max-width: 100%;
    }
    .page-section blockquote {
      font-size: 1.2em;
      font-family: 'Crimson Text', serif;
      font-style: italic;
      padding: 1em;
      background-color: #f2f2f2;

    }

.page-footer {
  background: #3c3932;
  color: #736f66;
  letter-spacing: 0.2rem;
  font-size: 0.85rem;
  font-family: 'Crimson Text', serif;
  padding: 5rem;
  text-transform: uppercase;
}
  .page-footer a {
    color: #c1beb6;
    cursor: pointer;
  }
  #sponsors {
    width: 350px;
    padding: 0;
  }
  #sponsors .rounded {
    background-color: white;
    height: 150px;
    width: 150px;
  }
